.block7
  width 100%
  height auto

  .block7-content
    width 100%
    height auto
    display flex
    display -webkit-flex
    justify-content center
    align-items center
    padding-bottom 32px
    padding-top 48px

    .block7-head
      width 100%
      height auto

      h2
        color #29272c
        font-family Gilroy
        font-size 28px
        font-weight 300
        letter-spacing 0.09px
        margin-bottom 6px
        text-align center
        @media (min-width 768px)
          font-size 32px
          line-height 34px

      p
        color #9fb1bc
        font-family "Proxima Nova Lt"
        font-size 18px
        font-weight 300
        text-align center
        @media (min-width 768px)
          font-size 22px
          font-weight 300
          line-height 23px

    .contacts-block
      width 282px
      height auto
      padding-top 39px
      padding-bottom 30px
      padding-left 22px
      padding-right 22px
      box-sizing border-box
      background-color #ffffff
      @media (min-width 768px)
        width 703px
        padding-left 40px
        padding-right 40px
        padding-bottom 0
      @media (min-width 1280px)
        width 100%
        display flex
        display -webkit-flex
        justify-content center
        align-items center



      .contact
        width 100%
        height auto
        @media (min-width 768px)
          display flex
          display -webkit-flex
          justify-content space-between
          align-items flex-start
          flex-direction row
        @media (min-width 1280px)
          max-width 780px

        .cont-one
          width 100%
          height auto
          padding-left 28px
          box-sizing border-box
          @media (min-width 768px)
            width 50%

          .phone, .email, .time
            width 100%
            height auto
            margin-bottom 15px
            position relative
            @media (min-width 768px)
              margin-bottom 48px
              height 70px

            p
              color #29272c
              font-family "GillSansLightC"
              font-size 16px
              font-weight 300
              letter-spacing 0.29px
              margin-bottom 8px
              @media (min-width 768px)
                font-size 18px
                line-height 20px
              @media (min-width 1280px)
                font-size 20px
                line-height 22px

            h2
              color #7e7d80
              font-family Gilroy
              font-size 18px
              font-weight 600
              letter-spacing 0.15px
              transition all 0.2s ease
              @media (min-width 768px)
                font-size 20px
                line-height 21px
              @media (min-width 1280px)
                font-size 24px
                line-height 26px
              &:hover
                color #6e6e6e

            span
              color #7e7d80
              font-family Gilroy
              font-size 16px
              font-weight 600
              letter-spacing 0.15px
              transition all 0.2s ease
              display none
              @media (min-width 1280px)
                display block

          .email
            &:after
              content ""
              width 36px
              height 36px
              background-image url("img/mail-icon.svg")
              background-repeat no-repeat
              background-position center center
              background-size 100%
              position absolute
              top 7px
              left -50px

          .time
            &:after
              content ""
              width 36px
              height 36px
              background-image url("img/time-icon.svg")
              background-repeat no-repeat
              background-position center center
              background-size 100%
              position absolute
              top 7px
              left -50px

          .phone
            &:after
              content ""
              width 36px
              height 36px
              background-image url("img/shape.svg")
              background-repeat no-repeat
              background-position center center
              background-size 100%
              position absolute
              top 7px
              left -50px

        .cont-two
          width 100%
          height auto
          padding-left 28px
          box-sizing border-box
          @media (min-width 768px)
            width 50%

          .name, .inn, .addres
            width 100%
            height auto
            margin-bottom 15px
            position relative
            @media (min-width 768px)
              margin-bottom 48px
              height 70px


            p
              color #29272c
              font-family "GillSansLightC"
              font-size 16px
              font-weight 300
              letter-spacing 0.29px
              margin-bottom 8px
              @media (min-width 768px)
                font-size 18px
                line-height 21px
              @media (min-width 1280px)
                font-size 20px
                line-height 22px

            h2
              color #7e7d80
              font-family Gilroy
              font-size 18px
              font-weight 600
              letter-spacing 0.15px
              transition all 0.2s ease
              @media (min-width 768px)
                font-size 20px
                line-height 25px
              @media (min-width 1280px)
                font-size 24px
                line-height 26px

          .name
            &:after
              content ""
              width 36px
              height 36px
              background-image url("img/pen-icon.svg")
              background-repeat no-repeat
              background-position center center
              background-size 100%
              position absolute
              top 7px
              left -50px

          .inn
            &:after
              content ""
              width 36px
              height 36px
              background-image url("img/doc-icon.svg")
              background-repeat no-repeat
              background-position center center
              background-size 100%
              position absolute
              top 7px
              left -50px

          .addres
            &:after
              content ""
              width 36px
              height 36px
              background-image url("img/marker-icon.svg")
              background-repeat no-repeat
              background-position center center
              background-size 100%
              position absolute
              top 7px
              left -50px

