.block3
  width 100%
  height auto
  background-image url("img/bg.png")
  background-size cover
  background-repeat no-repeat
  background-color #faf9fa
  background-position center

  .block3-content
    width 100%
    height auto
    padding-top 50px
    padding-bottom 36px
    @media (min-width 768px)
      max-width 710px
      padding-top 67px
      padding-bottom 65px
    @media (min-width 1280px)
      max-width 1290px




    .block3-head
      width 100%
      height auto
      margin-bottom 25px
      @media (min-width 768px)
        margin-bottom 64px

      h2
        color #29272c
        font-family Gilroy
        font-size 28px
        font-weight 300
        letter-spacing 0.09px
        margin-bottom 8px
        text-align center
        @media (min-width 768px)
          font-size 30px

          br
            display none

      p
        color #9fb1bc
        font-family "Proxima Nova Lt"
        font-size 16px
        font-weight 400
        letter-spacing 0.4px
        text-align center
        @media (min-width 768px)
          font-size 20px
          font-weight 300
          letter-spacing 1px

          br
            display none

    .steps-blocks
      width 100%
      height auto
      display flex
      display -webkit-flex
      justify-content space-around
      align-items center
      flex-flow row wrap
      position relative
      @media (min-width 768px)
        align-items flex-start
      @media (min-width 1280px)
        justify-content space-between


      .step-block
        width 100%
        height auto
        display flex
        display -webkit-flex
        justify-content center
        align-items center
        flex-direction column
        margin-bottom 40px
        z-index 1
        @media (min-width 768px)
          width 36%
          margin-bottom 31px
        @media (min-width 1280px)
          width 25%
          margin-bottom 0


        .step-img
          width 96px
          height 96px
          border 1px solid #6e8898
          border-radius 100%
          display flex
          display -webkit-flex
          justify-content center
          align-items center
          margin-bottom 20px
          padding-top 8px
          box-sizing border-box
          @media (min-width 1280px)
            justify-content center

          h2
            color #6e8898
            font-family Gilroy
            font-size 50px
            line-height 50px
            font-weight 100
            letter-spacing 1.24px

        .step-head
          width 100%
          height auto
          @media (min-width 768px)
            width 280px
          @media (min-width 1280px)
            width 100%

          h3
            color #29272c
            font-family "Proxima Nova Lt"
            font-size 24px
            font-weight 400
            line-height 20px
            letter-spacing 1px
            text-align center
            margin-bottom 16px
            @media (min-width 768px)
              text-align center
            @media (min-width 1280px)
              text-align center

              br
                display block

        hr
          width 128px
          height 2px
          border-radius 4px
          background-color #72cba7
          border none
          margin-bottom 20px


        .step-text
          width 265px
          height auto
          @media (min-width 768px)
            width 100%
          @media (min-width 1280px)
            width 269px

          p
            color #7b94a4
            font-family "Proxima Nova Lt"
            font-size 16px
            font-weight 400
            letter-spacing 0.4px
            text-align center
            line-height 18px


