.map-site
  width 100%
  height auto
  background-color #ffffff

  .map-content
    width 100%
    height auto
    padding-top 40px
    padding-bottom 40px
    box-sizing border-box
    @media (min-width 768px)
      padding-top 150px
      padding-bottom 68px
      display flex
      display -webkit-flex
      justify-content center
      align-items center
      flex-direction column

    .map-head
      width 100%
      height auto
      margin-bottom 40px
      @media (min-width 768px)
        margin-bottom 40px

      h2
        color #29272c
        font-family Gilroy
        font-size 26px
        font-weight 100
        line-height 28px
        text-align center
        margin-bottom 6px
        @media (min-width 768px)
          font-size 32px
          font-weight 300
          letter-spacing 0.1px
          text-align left

    .map-site-content
      width 100%
      height auto
      display flex
      display -webkit-flex
      justify-content center
      align-items center
      flex-direction column
      @media (min-width 768px)
        flex-direction row
        align-items flex-start
        justify-content space-between
      @media (min-width 1280px)
        justify-content flex-start

      .menu.group-menu
        width 100%
        height auto
        display flex
        display -webkit-flex
        justify-content flex-start
        align-items flex-start
        flex-direction column
        margin-bottom 64px
        @media (min-width 768px)
          width 30%
        @media (min-width 1280px)
          width 234px
          margin-right 50px

        h3
          color #7b95a4
          font-family "Proxima Nova Rg"
          font-size 24px
          font-weight 600
          letter-spacing 0.44px
          margin-bottom 20px

        a
          color #7b95a4
          font-family "Proxima Nova Lt"
          font-size 18px
          font-weight 600
          letter-spacing 0.33px
          text-decoration underline
          margin-bottom 24px