section.block4.cnt
    div.block4-content.row
        div.block4-head
            h2 Отзывы наших клиентов
            p Мы всегда идём на встречу нашим клиентам

        div.reviews-slider
            div.slick-prev
            div.slick-slider

                div.slick-slide
                    div.slide-img
                        img(src="img/tany.jpg")
                    div.head-text
                        h3 Татьяна И.
                        p.sity г. Псков
                        hr
                    div.slide-text
                        p Пользуюсь уже не первый раз и никогда не подводили. Большой плюс в том, что есть возможность продлить займ. Поэтому я буду рекомендовать вашу компанию своим друзьям. Спасибо!

                div.slick-slide
                    div.slide-img
                        img(src="img/igor.jpg")
                    div.head-text
                        h3 Игорь К.
                        p.sity г. Астрахань
                        hr
                    div.slide-text
                        p Я считаю вас одной из лучших МФК на рынке. Быстро, без дополнительных документов. Честно, без скрытых процентов и других ухищрений. По-человечески, потому что идете на контакт с клиентом по всем вопросам. Ни разу ни пожалел, что пользуюсь вашим сервисом. Спасибо!

                div.slick-slide
                    div.slide-img
                        img(src="img/alina.jpg")
                    div.head-text
                        h3 Алина М.
                        p.sity г. Красноярск
                        hr
                    div.slide-text
                        p Быстрое оформление, быстрое одобрение, ничего лишнего, процент такой же, как и везде. Всегда лояльны к постоянным клиентам.

                div.slick-slide
                    div.slide-img
                        img(src="img/irina.jpg")
                    div.head-text
                        h3 Ирина Б.
                        p.sity г. Сокол
                        hr
                    div.slide-text
                        p Спасибо, что работаете оперативно, без лишних бумаг и вопросов. Удобно получить деньги прямо на карту, также с карты погасить на сайте.




            div.slick-next
