section.block3.cnt
    div.block3-content.row
        div.block3-head
            h2 4 простых шага <br> на получение займа
            p Оформление заявки займет <br>несколько минут

        div.steps-blocks
            div.step-block
                div.step-img
                    h2 1
                div.step-head
                    h3 Регистрация на сайте
                hr
                div.step-text
                    p Успешно пройдите регистрацию на нашем сайте. Укажите номер своего мобильного телефона и адрес своей электронной почты.


            div.step-block
                div.step-img
                    h2 2
                div.step-head
                    h3 Заполните анкету
                hr
                div.step-text
                    p Заполнение анкеты для оформления заявки займет несколько минут. Решение мы примем еще быстрее.


            div.step-block
                div.step-img
                    h2 3
                div.step-head
                    h3 Дождитесь одобрения
                hr
                div.step-text
                    p При оценке клиента используется лояльная методика, что приводит к минимальному количеству отказов.
            div.step-block
                div.step-img
                    h2 4
                div.step-head
                    h3 Получите займ
                hr
                div.step-text
                    p Получить  займ на на именную банковскую карту или Яндекс.Кошелек. Выбирайте, что для Вас удобней.