section.block1.cnt
    div.block1-content.row
        div.block1-head
            h1 Получите онлайн займ до зарплаты <br>от 2 000 руб. на банковскую карту
            p Без лишних документов и скрытых комиссий за 15 минут

            div.advantages-block
                ul
                    li
                        p Займы выдаются круглосуточно
                    li
                        p Нужен только паспорт
                    li
                        p 3 минуты на рассмотрение заявки
                    li
                        p Высокий процент одобрения
                    li
                        p Продление и досрочное погашение
                    li
                        p Все операции с картой проходят в защищенном режиме


        div.calculator-block

            div.calculator

                div.button-block
                    a.b1(href="#" onclick="return false") Первый займ <br> по акции
                    a.link-active.b2(href="#" onclick="return false") Повторный <br> займ



                div.one-calc
                    p Три дня пользования займом
                        span  БЕСПЛАТНО
                div.two-calc
                    p Деньги будут у Вас уже в
                        span.receiptTime

                div.calc-calc
                    div.summ-blocks
                        div.summ-block
                            div.one-sum
                                p Сумма займа:
                                p.sum 2 000
                                    span  руб.
                            div.switch.one-s
                                input(type="range" min="2000" max="6000" step="500" oninput="")

                        div.summ-block
                            div.one-sum
                                p Срок займа:
                                p.days 10
                                    span  нед.
                            div.switch.two-s
                                input(type="range" min="3" max="30" step="1" oninput="")

                    div.content-row
                        div.end-blocks
                            div.end-block.commission
                                p Комиссия:
                                span 2 170

                            div.end-block.summToBack
                                p К оплате:
                                span 8 170

                            div.end-block.dateToBack
                                p Оплатить до:
                                span 21.07.17

                        div.good-block
                            div.gb
                                p Вероятность <br>одобрения:
                                span 1%
                            button.button-blue Получить деньги




            p.text Не успеваете погасить займ? <br> Мы продлим его до 30 дней!





