section.block2.cnt
    div.block2-content.row
        div.block2-head
            h2 Погасить займ можно любым удобным способом
            p В личном кабинете предоставлены самые надёжные сервисы

        div.banks-block
            div.bank-block
                img(src="img/yandex-logo.png")
            div.bank-block
                img(src="img/alfa-logo.png")
            div.bank-block
                img(src="img/mc-logo.png")
            div.bank-block
                img(src="img/visa-logo.png")
            div.bank-block
                img(src="img/sber-logo.png")
            div.bank-block
                img(src="img/evro-logo.png")
            div.bank-block
                img(src="img/svyaznoi-logo.png")
            div.bank-block
                img(src="img/contact-logo.png")
