doctype html
html(lang="en")
    head
        include head
    body
        include header
        include cp-block1
        include cp-block2
        include cp-block3
        include block6
        include footer


