section.cp-block1.cnt
    div.cp-block1-content.row
        div.cp-block1-head
            h2 Условия получения займа
            p Если Вы соответствуете нашим требованиям, то получить платинум просто и быстро

        div.cp-block1-conditions
            div.conditions
                div.conditions-img
                    img(src="img/wallet.svg")
                div.conditions-text
                    h3 У Вас <br>постоянный доход
                    hr

            div.conditions
                div.conditions-img
                    img(src="img/men.svg")
                div.conditions-text
                    h3 Являетесь гражданином <br>Российской Федерации
                    hr

            div.conditions
                div.conditions-img
                    img(src="img/21.png")
                div.conditions-text
                    h3 В возрасте <br>от 21 до 65 лет
                    hr

            div.conditions
                div.conditions-img
                    img(src="img/phone.svg")
                div.conditions-text
                    h3 Имеете мобильный телефон для подписания договора
                    hr